$primary: #fcb117:root {
  --primary: $primary;
}

.btn {}

.btn-primary {
  color: #252525;
  background-color: $primary;
  border-color: $primary;

  &:hover,
  &:focus {
    color: #252525;
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }
}

html,
body {
  font-family: 'Open Sans';
  overflow-x: hidden;
}

h1 {
  margin-top: 4rem;
  font-weight: bold;

  span {
    font-size: bold;

    &.worst {
      color: red;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.content {
  margin-top: 200px;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
  }
}

.state-dropdown {
  display: inline;

  .btn-primary {
    background: transparent;
    border-color: transparent;
    color: black;
    font-family: 'Open Sans';
    font-size: 36px;
  }
}

.routes-grid {
  margin-top: 180px;
}

.route-card {
  background: white;
  border: 1px solid #dbdee5;
  margin-top: -1px;
  padding: 50px 20px;

  .badge {
    img {
      width: 100%;
      min-width: 60px;
    }
  }

  .route-type {
    font-size: 18px;
    font-weight: bold;
  }

  .route-id {
    font-size: 48px;
    font-weight: 800;
  }
}

.color-rating {
  &.r-1 {
    color: #df0a12;
  }

  &.r-2 {
    color: #f97b2f;
  }

  &.r-3 {
    color: #fbb017;
  }

  &.r-4 {
    color: #71bf43;
  }

  &.r-5 {
    color: #40a664;
  }

}