$primary: #fcb117;

:root {
  --primary: $primary;
}

.btn {
  font-weight: bold;
}

.btn-round {
  border-radius: 20px;
}

.btn-primary {
  color: #252525;
  background-color: $primary;
  border-color: $primary;

  &:hover,
  &:focus {
    color: #252525;
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }
}

html,
body {
  font-family: 'Open Sans';
  overflow-x: hidden;
}

h1 {
  margin-top: 4rem;
  font-weight: bold;

  span {
    font-size: bold;

    &.worst {
      color: red;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.content {
  margin-top: 200px;
  min-height: 100vh;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
  }
}

.state-dropdown {
  display: inline;

  .btn-primary {
    background: transparent;
    border-color: transparent;
    color: black;
    font-family: 'Open Sans';
    font-size: 36px;
  }
}

.tabs {
  margin-top: 180px;

  .btn {
    width: 200px;
  }

}

.routes-grid {
  margin-top: 80px;
}

.route-card {
  color: currentColor;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;
    background: #efefef;
  }

  background: white;
  border: 1px solid #dbdee5;
  margin-top: -1px;
  padding: 50px 20px;

  .badge {
    img {
      width: 100%;
      min-width: 60px;
    }
  }

  .route-type {
    font-size: 18px;
    font-weight: bold;
  }

  .route-id {
    font-size: 48px;
    font-weight: 800;
  }
}

.color-rating {
  &.r-1 {
    color: #df0a12;
  }

  &.r-2 {
    color: #f97b2f;
  }

  &.r-3 {
    color: #fbb017;
  }

  &.r-4 {
    color: #71bf43;
  }

  &.r-5 {
    color: #40a664;
  }
}

.bg-rating {
  color: white;

  &.r-1 {
    background: #df0a12;
  }

  &.r-2 {
    background: #f97b2f;
  }

  &.r-3 {
    background: #fbb017;
  }

  &.r-4 {
    background: #71bf43;
  }

  &.r-5 {
    background: #40a664;
  }
}

.footer {
  background: #262626;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 64px 0;
  margin-top: 200px;
}

.route-title {
  p {
    font-size: 36px;
  }

  .badge {
    img {
      width: 150px;
    }
  }
}

.score-details {
  margin-top: 200px;

  .score-card {
    background: white;
    padding: 46px 20px;
    margin: 20px;

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    .score {

      .circle {
        margin-left: auto;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        text-align: center;
        line-height: 140px;
        font-size: 48px;
        font-weight: bold;
      }
    }
  }
}

.search-bar {
  position: relative;
}

.fuzzy-search {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;

  .suggestion-item {
    background: white;
    padding: 10px;

    &:hover {
      background: #efefef;
      font-weight: bold;
      cursor: pointer;
    }
  }
}